<%- include('partials/header') %>
<div class="d-xl-flex flex-column justify-content-center align-items-center pt-3">
    <h1 class="text-danger">Welcome to Esdeath's To-Do App</h1>
    <h2 class="text-info">Remember, Esdeath always watching you!</h2>
</div>

<div class="main-container d-flex flex-column justify-content-center align-items-center">
    <div class="date-container mt-3">
        <p class="date"><%= date %></p>
    </div>
</div>
